@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

#login-form {
    margin-top: 70px;
}

table {
    border: solid #dcdcdc 1px;
    padding: 25px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

table tr,
td {
    padding: 15px;
}

table tr td input {
    width: 97%;
    height: 45px;
    border: solid #e1e1e1 1px;
    border-radius: 3px;
    padding-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    background: #f9f9f9;
    transition-duration: 0.5s;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4);
}

table tr td button {
    width: 100%;
    height: 45px;
    border: 0px;
    background: rgba(12, 45, 78, 11);
    background: -moz-linear-gradient(top, #595959, #515151);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.2);
    color: #f9f9f9;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

table tr td button:active {
    position: relative;
    top: 1px;
}

table tr td a {
    text-decoration: none;
    color: #00a2d1;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

#error {
    color: brown;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
}

.input_correcto {
    border: 3px solid #29bb49;
}

.input_incorrecto {
    border: 3px solid #bb2929;
}

.mostrar_error {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}

.ocultar_error {
    display: none;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.formulario__mensaje-exito {
    margin: 0;
    font-size: 10px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}